<div class="bg-blue-200 flex flex-col justify-center items-center text-center">
  <div class="page p-10 flex justify-center items-center flex-col">
    <h1 class="z-[3] text-5xl font-black text-blue-700 lg:text-7xl">
      ZED STORE
    </h1>
    <div class="z-[3] text-3xl m-5 flex justify-center items-center flex-col">
      <h1>Welcome</h1>
      <h1 class="text-wrap">Everything you need is right here</h1>
      <fa-icon
        [icon]="faAngleDoubleDown"
        class="mt-10 z-[2] text-blue-700 text-5xl animate-bounce"
      ></fa-icon>
    </div>
  </div>
  <div
    class="p-10 min-h-screen flex justify-center items-center flex-col gap-10"
  >
    <app-products></app-products>
  </div>
</div>
