@if (userStore.isLoading()) {
<app-loading></app-loading>
} @else{

<form
  [formGroup]="ChangeUserDataForm"
  class="font-medium max-w-[50rem] flex flex-col justify-center items-center bg-white p-10 rounded-lg shadow-lg"
>
  <div class="flex mb-10">
    <h1 class="text-blue-950 font-black text-3xl">{{ UI.Title }}</h1>
  </div>

  <div class="w-full grid grid-cols-1 gap-6 mb-10">
    <div id="input" class="relative w-full">
      <input
        #FirstName
        formControlName="FirstName"
        type="text"
        id="floating_outlined1"
        class="block w-full text-sm h-[50px] px-4 text-blue-900 bg-white rounded-[8px] border border-blue-200 appearance-none focus:border-transparent focus:outline focus:outline-2 focus:outline-blue focus:ring-0 hover:border-brand-500-secondary- peer invalid:border-error-500 invalid:focus:border-error-500 overflow-ellipsis overflow-hidden text-nowrap"
        placeholder="{{ UI.FirstName }}"
        value=""
      />
      <label
        for="floating_outlined1"
        class="peer-placeholder-shown:-z-10 peer-focus:z-10 absolute text-[14px] leading-[150%] duration-300 transform -translate-y-[1.2rem] scale-75 top-2 z-10 origin-[0] bg-white disabled:bg-gray-50 px-2 peer-placeholder-shown:scale-100 peer-placeholder-shown:-tranblue-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-[1.2rem] left-2 right-auto rtl:-right-2 rtl:left-auto"
      >
        {{ UI.FirstName }}
      </label>
    </div>

    <div id="input" class="relative w-full">
      <input
        #LastName
        formControlName="LastName"
        type="text"
        id="floating_outlined1"
        class="block w-full text-sm h-[50px] px-4 text-blue-900 bg-white rounded-[8px] border border-blue-200 appearance-none focus:border-transparent focus:outline focus:outline-2 focus:outline-blue focus:ring-0 hover:border-brand-500-secondary- peer invalid:border-error-500 invalid:focus:border-error-500 overflow-ellipsis overflow-hidden text-nowrap"
        placeholder="{{ UI.LastName }}"
        value=""
      />
      <label
        for="floating_outlined1"
        class="peer-placeholder-shown:-z-10 peer-focus:z-10 absolute text-[14px] leading-[150%] duration-300 transform -translate-y-[1.2rem] scale-75 top-2 z-10 origin-[0] bg-white disabled:bg-gray-50 px-2 peer-placeholder-shown:scale-100 peer-placeholder-shown:-tranblue-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-[1.2rem] left-2 right-auto rtl:-right-2 rtl:left-auto"
      >
        {{ UI.LastName }}
      </label>
    </div>

    <div id="input" class="relative w-full">
      <input
        #UserName
        formControlName="UserName"
        type="email"
        id="floating_outlined1"
        class="block w-full text-sm h-[50px] px-4 text-blue-900 bg-white rounded-[8px] border border-blue-200 appearance-none focus:border-transparent focus:outline focus:outline-2 focus:outline-blue focus:ring-0 hover:border-brand-500-secondary- peer invalid:border-error-500 invalid:focus:border-error-500 overflow-ellipsis overflow-hidden text-nowrap"
        placeholder="{{ UI.UserName }}"
        value=""
      />
      <label
        for="floating_outlined1"
        class="peer-placeholder-shown:-z-10 peer-focus:z-10 absolute text-[14px] leading-[150%] duration-300 transform -translate-y-[1.2rem] scale-75 top-2 z-10 origin-[0] bg-white disabled:bg-gray-50 px-2 peer-placeholder-shown:scale-100 peer-placeholder-shown:-tranblue-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-[1.2rem] left-2 right-auto rtl:-right-2 rtl:left-auto"
      >
        {{ UI.UserName }}
      </label>
    </div>

    <div id="input" class="relative w-full">
      <input
        #Email
        formControlName="Email"
        type="email"
        id="floating_outlined3"
        class="block w-full text-sm h-[50px] px-4 text-blue-900 bg-white rounded-[8px] border border-blue-200 appearance-none focus:border-transparent focus:outline focus:outline-2 focus:outline-blue focus:ring-0 hover:border-brand-500-secondary- peer invalid:border-error-500 invalid:focus:border-error-500 overflow-ellipsis overflow-hidden text-nowrap"
        placeholder="{{ UI.Email }}"
        value=""
      />
      <label
        for="floating_outlined3"
        class="peer-placeholder-shown:-z-10 peer-focus:z-10 absolute text-[14px] leading-[150%] duration-300 transform -translate-y-[1.2rem] scale-75 top-2 z-10 origin-[0] bg-white disabled:bg-gray-50 px-2 peer-placeholder-shown:scale-100 peer-placeholder-shown:-tranblue-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-[1.2rem] left-2 right-auto rtl:-right-2 rtl:left-auto"
      >
        {{ UI.Email }}
      </label>
    </div>

    <div
      id="input"
      class="relative w-full flex flex-col justify-center items-center"
    >
      <input
        #Password2
        formControlName="Password2"
        type="text"
        id="floating_outlined4"
        class="z-[9] block w-full text-sm h-[50px] px-4 text-blue-900 bg-white rounded-[8px] border border-blue-200 appearance-none focus:border-transparent focus:outline focus:outline-2 focus:outline-blue focus:ring-0 hover:border-brand-500-secondary- peer invalid:border-error-500 invalid:focus:border-error-500 overflow-ellipsis overflow-hidden text-nowrap"
        placeholder="{{ UI.Password }}"
        value=""
      />
      <label
        for="floating_outlined4"
        class="peer-placeholder-shown:-z-10 peer-focus:z-10 absolute text-[14px] leading-[150%] duration-300 transform -translate-y-[1.2rem] scale-75 top-2 z-10 origin-[0] bg-white disabled:bg-gray-50 px-2 peer-placeholder-shown:scale-100 peer-placeholder-shown:-tranblue-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-[1.2rem] left-2 right-auto rtl:-right-2 rtl:left-auto"
      >
        {{ UI.Password }}
      </label>
    </div>
  </div>

  <div class="sm:flex flex gap-4">
    <button
      #ChangeUserDataButton
      [disabled]="!ChangeUserDataForm.valid"
      class="text-nowrap disabled:cursor-default disabled:bg-slate-700 disabled:text-gray-500 w-fit rounded-lg text-sm px-5 py-2 focus:outline-none h-[50px] border bg-blue-500 hover:bg-blue-600 focus:bg-blue-700 border-blue-500 text-white focus:ring-4 focus:ring-blue-200 hover:ring-4 hover:ring-blue-100 transition-all duration-300"
      type="button"
      (click)="ChangeUserData()"
    >
      <div class="flex gap-2 items-center">{{ UI.Save }}</div>
    </button>
    <button
      class="w-fit rounded-lg text-sm px-5 py-2 focus:outline-none h-[50px] border bg-transparent border-blue text-blue focus:ring-4 focus:ring-gray-100"
      type="reset"
      (click)="Reset()"
    >
      {{ UI.Reset }}
    </button>
  </div>
</form>
}
